<h1>Product List</h1>
<table class="table-striped table table-bordered table-hover table-responsive">
  <thead>
    <tr>
      <% table_headers.each do |header|  %>
        <td>
          <%= header.humanize %>
        </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <% table_headers.each do |col_name| %>
          <td>
            <%= product.send(col_name) %>
          </td>
        <% end %>
      </tr>
    <% end unless @products.empty? %>
    <% if @products.empty? %>
      <tr>
        <td colspan="<%= table_headers.length %>" class="text-center"> No Records Found. </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render partial: 'import_form' %>
